<!DOCTYPE html>
<html>
<head>
  <title>Subsribem</title>
  <%= stylesheet_link_tag    "subsribem/application", media: "all" %>
  <%= javascript_include_tag "subsribem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
